<!DOCTYPE hmtl>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  </head>
  <body ng-controller="StoreController as store"> 
    <!-- Products Container -->   
    <ul class="list-group">
    <!-- Product Container -->
  	  <li class="list-group-item" ng-repeat="product in store.products">
  		  <h3>
          {{product.name}}
  		  	<em class="pull-right">{{product.price | currency}}</em>
          <img ng-src="{{product.images[0].full}}"/>
  		  </h3>
        <p> {{product.description}}</p>
        <button ng-show="product.canPurchase"> Add to Cart </button>

        <!--         Image Gallery     -->
        <div class="gallery"  ng-show="product.images.length">
           <img class="img img-circle img-thumbnail center-block" ng-src="{{product.images[0]}}"/>
           <ul class="img-thumbnail clearfix">
              <li class="small-image pull-left thumbnail" ng-repeat="image in product.images"> <img ng-src="{{image}}"/></li>
           </ul>
        </div> 
  		</li>
    </ul>  
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>